@font-face {
  font-family: "Shinonome";
  src: url("assets/fonts/Shinonome/JF-Dot-Shinonome12.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  width: 100%;
  max-width: 1080px;
  font-family: "Shinonome", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
